
.canvas {
    width: 1142px;
    padding: 8px;
    background: #131670;
    max-height: 684px;
}

.card {
    margin:2px;
    padding:3px;
    border-width: 2px;
    border-style:solid;
    width:73px;
    height: 100px;
    float:left;
    font-size: 50px;
    background: url("suit_symbols_76pt.png") no-repeat;
    display: inline-block;
}

.card:hover {
    border-color: white;
}

.hearts, .diamonds {
    border-color: red;
    background-color: #FAA7A7;
}

.clubs, .spades {
    border-color: black;
    background-color: #CCCCCC;
}

.spades {
    
    background-position: 11px 40px;
}

.hearts {
    background-position: -61px 40px;
}

.diamonds {
    background-position: -130px 40px;
}

.clubs {
    background-position: -196px 40px;
}

.playerHand {
    position: relative;
    float: left;
    padding:5px;
    background: #733F3F;
    min-width:80px;
    max-width: 445px;
    height:124px;
    overflow-x: scroll; /* Not working as expected */
    overflow-y: hidden;
    white-space: nowrap;
    border:2px solid black;
}

.screen {
    float: right;
    background-color: black;
    color:white;
    height: 124px;
    width:600px;
    font-family: monospace;
    overflow: scroll;
}

.screen p {
    padding:2px;
    margin:4px;
}

.header:after, .canvas:after {
    clear: both;
    content: " ";
    display: block;
}