
.canvas {
    width: 1142px;
    padding: 8px;
    background: #06F;
    max-height: 1000px;
}

.card {
    margin:2px;
    padding:3px;
    border-width: 2px;
    border-style:solid;
    width:73px;
    height: 100px;
    float:left;
    font-size: 50px;
    background: url("suit_symbols_76pt.png") no-repeat;
    display: inline-block;
}

.card:hover {
    border-color: white;
}

.hearts, .diamonds {
    border-color: red;
    background-color: #FAA7A7;
}

.clubs, .spades {
    border-color: black;
    background-color: #CCCCCC;
}

.spades {
    
    background-position: 11px 40px;
}

.hearts {
    background-position: -61px 40px;
}

.diamonds {
    background-position: -130px 40px;
}

.clubs {
    background-position: -196px 40px;
}
.left {
	margin:10px;
	width:550px;
	float:left;
}
.playerHand {
    position: relative;
    padding:5px;
    background: #733F3F;
    min-width:80px;
    width: 610px;
    height:124px;
    border:2px solid black;
}

.screen {
    float: right;
    background-color: black;
    color:white;
    height:800px;
    width:500px;
    font-family:"Courier New", Courier, monospace;
	font-size:25px;
    overflow-y: scroll;
}

.screen p {
    padding:2px;
    margin:4px;
	border-bottom:dashed 1px #666666;
}

.cardPairList {
	width:560px;
}
.pair {
	border-right:thin solid #069;
	margin:2px;
	padding:3px;
	float:left;
}
.left:after, .canvas:after, .cardPairList:after, .playerHand:after {
    clear: both;
    content: " ";
    display: block;
}