
main {
	display:block;
    width: 100%;
    background: #838271;
    max-height: 1000px;
}

.card {
    margin:2px;
    padding:3px;
    border-width: 2px;
    border-style:solid;
    width:73px;
    height: 100px;
    float:left;
    font-size: 50px;
    background: url("suit_symbols_76pt.png") no-repeat;
    display: inline-block;
}

.card:hover {
    border-color: white;
}

.hearts, .diamonds {
    border-color: red;
    background-color: #FAA7A7;
}

.clubs, .spades {
    border-color: black;
    background-color: #CCCCCC;
}

.spades {
    
    background-position: 11px 40px;
}

.hearts {
    background-position: -61px 40px;
}

.diamonds {
    background-position: -130px 40px;
}

.clubs {
    background-position: -196px 40px;
}
.left {
	width:60%;
	float:left;
}
.hand {
	display:block;
    position: relative;
    padding:5px;
    background: #998575;
    min-width:80px;
	max-width: 610px;
    height:180px;
    border:2px solid #CFB86A;
}

#screen {
    float: right;
    background-color: #4D4D4D;
    color:white;
    height:800px;
    width:39%;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:25px;
    overflow-y: hidden;
	border-left:#CFB86A solid 1px;
}
#screen ul {
	margin:0;
	padding:0;
}
#screen li {
	margin:0;
	padding:5px;
	list-style:none;
}

#screen li:nth-child(odd) {
	background-color:#998575;
}

.pairList {
	width:560px;
}
.pair {
	border-right:thin solid #CC5F39;
	margin:2px;
	padding:3px;
	float:left;
}
.clear { /* .left:after, .canvas:after, .cardPairList:after, .playerHand:after */
    clear: both;
}